@charset "uft-8";

/* Basic styles to be used with all devices and under all conditions */

article, aside, figcaption, figure,
footer, header, main, nav, section { 
    display: block;
}

address, article, aside, blockquote, body, cite, 
div, dl, dt, dd, em, figcaption, figure, footer, 
h1, h2, h3, h4, h5, h6, header, html, img, 
li, main, nav, nav a, ol, p, section, span, ul,
table, tr, td, th, col, colgroup {
    margin: 0px;
    padding: 0px;
    border: 0;
    font-size: 100%;
    background: transparent;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;  
}


/* Set the default page element styles */

body {
    line-height: 1.2em;
    background-color:  rgba(223, 186, 144,.5)
}

ul, ol {
    list-style: none;
}

nav ul {
    list-style: none;
    list-style-image: none;
}

body {
    margin-left: 0px;
    margin-right:0px;
    margin-top: 0px;
}

nav {
    height: 50px;
    width: 100%;

    display: flex;
    justify-content: space-between;

    background-color: white;

    border-bottom-style: solid;
    border-bottom-width: 5px;
    border-bottom-color: #8F6858;
}

div#companytitle {
    width: 75%;
    float: left;

    line-height: 50px;
}

#companytitleh2 {
    line-height: 45px;
    position: relative;
    padding-left: 20px;
    color: #422520;
    font-family: 'Inconsolata', monospace;
}

div#links {
    width: 25%;
    display: flex;
    justify-content: space-evenly;
    
    line-height: 45px;
}

a {
    text-decoration: none;
    color: #422520;
    font-family: 'Inconsolata', monospace;
}

div#featuredproduct {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

#featuredimage {
    width: 250px;
    flex: 40%;
}

div#featuredproduct section {
    flex: 40%;
    text-align: center;
}

.sectionhead {
    font-size: 30px;
}

.sectiontext {
    font-size: 16px;
    padding: 20px 0;
}

footer {
    text-align: center;
    height: 50px;
    width: 100%;

    background-color: white;

    border-top-style: solid;
    border-top-width: 5px;
    border-top-color: #8F6858;
    margin-top: 20px;
}

.footertext {
    line-height: 45px;
    font-size: 14px;
    color: #422520;
    font-family: 'Inconsolata', monospace;
}